<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		li{
			list-style:none;
			line-height:25px;
			margin:10px 0;
			padding-left:20px;
			width:550px;
			height:25px;
			background:#ccc;
			padding:10px;
		}
		#text{
			border:1px solid #000;
			margin:10px 0;
			width:500px;
			height:50px;
			display: inline-block;
		}
		.add{
			display: block;
			margin-left:500px;
		}
	</style>
</head>
<body>
	作者：<input type="text" id="key"><br/>
	文章：<div id='text' contenteditable='true'></div>
	<button class="add">添加</button>
	<%for(var i=0;i<num.length;i++){%>
			<li class="detail"><span class="only"><%=num[i].NO%></span><span><%=num[i].keys%></span></li>
		<%}%>
</body>
</html>
<script src="./jquery.js"></script>
<script>
	$(".detail").on("click",function(){
		var NO=$(this).children('.only').text();
		console.log(NO);
		$.ajax({
			url:'/successed',
			type:'post',
			data:{
				NO:NO
			},
			success:function(msg){
				if(msg.code==0){
					console.log(msg.data[0].count)				
					window.location.href='/success?NO='+NO
				}else{
					// window.location.href='/success?NO='+NO
				}
			}
		})
		$.ajax({
			url:'/count',
			type:'post',
			data:{
				NO:NO
			},
			success:function(msg){
				if(msg=='fangwenliang'){
					window.location.href='/success?NO='+NO
				}
			}
		})
	})




	$(".add").on("click",function(){
			var title=$("#text").text().trim();
			var keys=$("#key").val().trim();
			console.log(keys)
			console.log(title)
			$.ajax({
			url:'/add',
			type:'post',
			data:{title:title,keys:keys},
			success:function(msg){	
				console.log(msg)
				if(msg.code==0){		
					// window.location.href='/detail'
				}
					
			}
		})
		})
</script>
