<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<ul></ul>
</body>
</html>
<script src="./jquery.js"></script>
<script>
	var NO=location.search.split("=")[1];
		$.ajax({
			url:'/successed',
			type:'post',
			data:{
				NO:NO
			},
			success:function(msg){
				if(msg.code==0){
					console.log(msg)
					var str="";
                for(var i=0;i<msg.data.length;i++){
                    str+='<li>'+msg.data[i].title+'</li>'
                }
                $('ul').html(str)

				}else{
			
				}
			}
		})

</script>
